<div class="container">
    <div>
        <h3>Home</h3>
        <hr>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <app-listproductwithasync [myproducts$]='products$'></app-listproductwithasync>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container">
                <app-listproductwithsubscribe [myproducts$]='products$'></app-listproductwithsubscribe>
            </div>
        </div>
    </div>
</div>