<h2 class="text-center">List product with subscribe </h2>

  <table class="text-center" style="width: auto; margin-left: 50px; margin-top: 30px;">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Color</th>
        <th>Expiry Date</th>
        <th>Instock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products">
        <td>{{p.id}}</td>
        <td>{{p.title}}</td>
        <td>{{p.price| currency:'INR'}}</td>
        <td>{{p.quantity}}</td>
        <td>{{p.color}}</td>
        <td>{{p.expiryDate | date}}</td>
        <td>{{p.inStock}}</td>
      </tr>
    </tbody>
  </table> 