<p>add-product works!</p>
<div class="container">
    <div>
        <h5>Add a Product</h5>
        <hr>
    </div>
    <form [formGroup]="addform" (ngSubmit)="submit()" class="myform">

        <div class="input-group mb-3">
            <input type="text" formControlName="title" class="form-control" placeholder="Enter Title">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">₹</span>
            </div>
            <input type="number" formControlName="price" class="form-control" placeholder="Enter Price">
        </div>

        <div class="input-group mb-3">
            <input type="number" formControlName="quantity" class="form-control" placeholder="Enter Quantity">
        </div>

        <div class="input-group mb-3">
            <input type="text" formControlName="color" class="form-control" placeholder="Enter Color">
        </div>

        <div class="input-group mb-3">
            <input type="text" formControlName="expirydate" class="form-control" placeholder="Enter ExpiryDate"
                onclick="(this.type='date')" onkeyup="(this.type='date')">
        </div>

        <label>InStock:</label><br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="instock" type="radio" [value]="true">
            <label class="form-check-label" for="inlineRadio1">In Stock</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="instock" type="radio" [value]="false">
            <label class="form-check-label" for="inlineRadio2">Out of Stock</label>
        </div>

        <br><br>
        <div class="btn-group mr-2">
            <button type="submit" [disabled]="addform.invalid" class="btn btn-success inline">Add</button>
        </div>
        <div class="btn-group mr-2">
            <button type="reset" class="btn btn-danger inline">Reset</button>
        </div>
    </form>
</div>