<br>
<!-- <nav></nav> -->

<mat-toolbar style="background-color:blueviolet;" >
    <mat-toolbar-row style="color: white;">
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <span class="menu-spacer"></span>
      <div >
        <a class="homelink" mat-button routerLink="/home"> Home </a>
      </div>
    </mat-toolbar-row>

  </mat-toolbar>
  <mat-sidenav-container autosize ><mat-sidenav #sidenav mode="side">
    <mat-nav-list>
        <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/add-product"> Add Product </a>
      <a mat-list-item routerLink="/edit-product"> Update Product </a>
      <a mat-list-item routerLink="/delete-product">Delete Product</a>   
    </mat-nav-list>
  </mat-sidenav>

<router-outlet></router-outlet>