 .home{
    position:absolute;
    height: 100%;
    width: 50px;
    left: 10px;
    top: 50px;
    margin:auto;
}

.homelink{
    color: white;
}

a:hover {
    background-color:white;
    color: black;
  }
  .toolbar {
    background-color:black;
    color: white;
    font-weight: 600;
  }
  mat-sidenav-container {
    height: 100%;
    
  }
  mat-sidenav-container mat-sidenav mat-nav-list .chevron-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
    right: 0;
    float: right;
    position: absolute;
    
    
  }
  mat-sidenav-container mat-sidenav mat-nav-list .chevron-button.rotated {
    transform: rotate(180deg);
  }
  
  .flexpend {
    flex: 1 1 auto;
  }
  .exapmle-icon{
    float: right;
  }
 
  #spanwelcome
  {
      margin: 0 300px;
  }
 
  #flexpend
  {
    margin: 0 130px;
  }
 
